{extends "../@layout.latte"}

{block title}{_change_video}{/block}

{block bodyScripts}
    <script src="/themepack/vk2020/{$theme->getVersion()}/resource/js/features/autosave.js"></script>
{/block}

{block content}
<div class="page_block">
    {include "../components/page_crumb_header.latte", crumbs: [
        ['href' => $thisUser->getURL(), 'title' => $thisUser->getCanonicalName()],
        ['href' => "/videos{$thisUser->getId()}", 'title' => tr("videos")],
        ['href' => "/video{$video->getPrettyId()}", 'title' => $video->getName()],
        ['title' => tr("change_video")]
    ]}
    <div class="form_group page_padding">
        <form method="post" enctype="multipart/form-data" data-autosave="true">
            <div class="form_field">
                <div class="form_label">{_name}</div>
                <div class="form_data">
                    <input type="text" name="name" value="{$video->getName()}" />
                </div>
            </div>
            <div class="form_field">
                <div class="form_label">{_description}</div>
                <div class="form_data">
                    <textarea name="desc">{$video->getDescription()}</textarea>
                </div>
            </div>
            <input type="hidden" name="hash" value="{$csrfToken}" />
        </form>
    </div>
</div>
{/block}