{var $Club = openvk\Web\Models\Entities\Club::class}
{var $User = openvk\Web\Models\Entities\User::class}

{var $size = $size ?? 'miniscule'}
{var $class = $class ?? null}
{var $width = $width ?? 50}
{var $height = $height ?? null}
{var $alt = $alt ?? ''}
{var $url = $author->getAvatarUrl($size)}

{if $author instanceof $User && ($author->isDeleted() || $author->isBanned() || $author->isDeactivated())}
    {var $finalUrl = '/themepack/vk2020/'.$theme->getVersion().'/resource/deactivated_200.png'}
{elseif str_contains($url, 'camera_200.png')}
    {if $author instanceof $Club}
        {var $finalUrl = '/themepack/vk2020/'.$theme->getVersion().'/resource/community_200.png'}
    {else}
        {var $finalUrl = '/themepack/vk2020/'.$theme->getVersion().'/resource/camera_200.png'}
    {/if}
{else}
    {var $finalUrl = $url}
{/if}

{var $style = $style ?? null}
{var $onclick = $onclick ?? null}

{var $dataAttrs = $dataAttrs ?? []}
{var $loading = $loading ?? null}

<img src="{$finalUrl}" class="avatar {$class}" n:attr="width => $width, height => $height, alt => $alt, id => $id ?? null, style => $style, onclick => $onclick, loading => $loading" {foreach $dataAttrs as $k => $v}data-{$k}="{$v}" {/foreach}/>
