{extends "../@layout.latte"}

{block title}{_my_settings}{/block}

{block bodyScripts}
    <script src="/themepack/vk2020/{$theme->getVersion()}/resource/js/features/autosave.js"></script>
{/block}

{block content}

{var $isMain       = $mode === 'main'}
{var $isSecurity   = $mode === 'security'}
{var $isPrivacy    = $mode === 'privacy'}
{var $isFinance    = $mode === 'finance'}
{var $isFinanceTU  = $mode === 'finance.top-up'}
{var $isInterface  = $mode === 'interface'}
{var $isBl         = $mode === 'blacklist'}

{var $menuItems = [
    [
        'url' => '/settings',
        'title' => 'main',
        'active' => $isMain
    ],
    [
        'url' => '/settings?act=security',
        'title' => 'security',
        'active' => $isSecurity
    ],
    [
        'url' => '/settings?act=privacy',
        'title' => 'privacy',
        'active' => $isPrivacy
    ],
    [
        'url' => '/settings?act=blacklist',
        'title' => 'blacklist',
        'active' => $isBl
    ],
    [
        'url' => '/settings?act=finance',
        'title' => 'points',
        'active' => $isFinance,
        'condition' => \OPENVK_ROOT_CONF['openvk']['preferences']['commerce'],
        'subitems' => [
            [
                'url' => '/settings?act=finance.top-up',
                'title' => 'vouchers',
                'active' => $isFinanceTU
            ]
        ]
    ],
    [
        'url' => '/settings?act=interface',
        'title' => 'interface',
        'active' => $isInterface
    ]
]}

    <div class="wide_column_left">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                {include "../components/ui_rmenu.latte", items => $menuItems}
            </div>
        </div>
        <div class="wide_column_wrap">
            <div class="wide_column">
                {if $isMain}
                    <form action="/settings?act=main" method="POST" enctype="multipart/form-data">
                        <div class="page_block">
                            {include "../components/page_block_header.latte", title => "your_email_address"}
                            <div class="form_group settings_padding clear_fix">
                                <div class="form_field">
                                    <div class="form_label">{_current_email_address}</div>
                                    <div class="form_data" dir="auto">{$user->getEmail()}</div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_new_email_address}</div>
                                    <div class="form_data">
                                        <input type="email" name="new_email"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_password}</div>
                                    <div class="form_data">
                                        <input type="password" name="email_change_pass"  />
                                    </div>
                                </div>
                                <div class="form_field" n:if="$user->is2faEnabled()">
                                    <div class="form_label">{_"2fa_code"}</div>
                                    <div class="form_data">
                                        <input type="text" name="email_change_code"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label"></div>
                                    <div class="form_data">
                                        <input type="submit" value="{_save_email_address}" class="button" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page_block">
                            {include "../components/page_block_header.latte", title => "your_page_address"}
                            <div class="form_group settings_padding clear_fix">
                                <div class="form_field">
                                    <div class="form_label">{_page_id}</div>
                                    <div class="form_data" dir="auto">{$user->getId()}</div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_page_address}</div>
                                    <div class="form_data">
                                        <input type="text" name="sc" value="{$user->getShortCode()}"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label"></div>
                                    <div class="form_data">
                                        <input type="hidden" name="hash" value="{$csrfToken}" />
                                        <input type="submit" value="{_save}" class="button" />
                                    </div>
                                </div>
                            </div>
                            <div class="page_block_footer">
                                {_you_can_also} <a onClick="showVkifyProfileDeactivateDialog({$csrfToken})">{_delete_your_page}</a>.
                            </div>
                        </div>
                    </form>
                        <script n:syntax="off">
                            function showVkifyProfileDeactivateDialog(hash) {
                                MessageBox(tr("profile_deactivate"), `
                                    <div class="messagebox-content-header">
                                        ${tr("profile_deactivate_header")}
                                    </div>
                                    <form action="/settings/deactivate" method="post" id="profile_deactivate_dialog" style="margin-top: 20px">
                                        <strong>${tr("profile_deactivate_reason_header")}</strong>
                                        <div class="delete_reason_list">
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_1" data-text="${tr("profile_deactivate_reason_1_text")}"><span>${tr("profile_deactivate_reason_1")}</span></label>
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_2" data-text="${tr("profile_deactivate_reason_2_text")}"><span>${tr("profile_deactivate_reason_2")}</span></label>
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_3" data-text="${tr("profile_deactivate_reason_3_text")}"><span>${tr("profile_deactivate_reason_3")}</span></label>
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_4" data-text="${tr("profile_deactivate_reason_4_text")}"><span>${tr("profile_deactivate_reason_4")}</span></label>
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_5" data-text="${tr("profile_deactivate_reason_5_text")}"><span>${tr("profile_deactivate_reason_5")}</span></label>
                                            <label class="radio"><input type="radio" name="deactivate_type" id="deactivate_r_6" data-text=""><span>${tr("profile_deactivate_reason_6")}</span></label>
                                        </div>
                                        <textarea name="deactivate_reason" id="deactivate_reason" placeholder="${tr("gift_your_message")}"></textarea><br><br>
                                        <label class="checkbox"><input type="checkbox" name="deactivate_share" id="deactivate_share" checked><span>${tr("share_with_friends")}</span></label>
                                        <input type="hidden" name="hash" value="${hash}" />
                                    </form>
                                `, [tr("profile_deactivate_button"), tr("cancel")], [
                                    () => {
                                        $("#profile_deactivate_dialog").submit();
                                    },
                                    Function.noop
                                ]);

                                $('[id^="deactivate_r_"]').on("click", function () {
                                    $('#deactivate_reason').val($(this).data("text"));
                                });
                            }
                        </script>
                    </div>
                {elseif $isSecurity}
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "change_password"}
                        <div class="form_group settings_padding clear_fix">
                            <form action="/settings?act=main" method="POST" enctype="multipart/form-data">
                                <div class="form_field">
                                    <div class="form_label">{_old_password}</div>
                                    <div class="form_data">
                                        <input type="password" name="old_pass"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_new_password}</div>
                                    <div class="form_data">
                                        <input type="password" name="new_pass"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_repeat_password}</div>
                                    <div class="form_data">
                                        <input type="password" name="repeat_pass"  />
                                    </div>
                                </div>
                                <div class="form_field" n:if="$user->is2faEnabled()">
                                    <div class="form_label">{_"2fa_code"}</div>
                                    <div class="form_data">
                                        <input type="text" name="password_change_code"  />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label"></div>
                                    <div class="form_data">
                                        <input type="hidden" name="hash" value="{$csrfToken}" />
                                        <input type="submit" value="{_change_password}" class="button" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "two_factor_authentication"}
                        <div class="form_group clear_fix settings_padding">
                            {if $user->is2faEnabled()}
                            <div class="form_field">
                                <div class="accent-box">
                                    {_two_factor_authentication_enabled}
                                </div>
                            </div>
                            <div class="settings_save_footer buttons_row">
                                <a class="button" href="javascript:viewBackupCodes()">{_view_backup_codes}</a>
                                <a class="button button_gray" href="javascript:disableTwoFactorAuth()">{_disable}</a>
                            </div>
                            <script>
                                function viewBackupCodes() {
                                    MessageBox(tr("viewing_backup_codes"), `
                                        <form id="back-codes-view-form" method="post" action="/settings/2fa">
                                            <label class="field" for="password">Пароль</label>
                                            <input type="password" id="password" name="password" required />
                                            <input type="hidden" name="hash" value={$csrfToken} />
                                        </form>
                                        `, [tr("viewing"), tr("cancel")], [
                                        () => {
                                            document.querySelector("#back-codes-view-form").submit();
                                        }, Function.noop
                                    ]);
                                }

                                function disableTwoFactorAuth() {
                                    MessageBox(tr("disable_2fa"), `
                                        <form id="two-factor-auth-disable-form" method="post" action="/settings/2fa/disable">
                                            <label class="field" for="password">Пароль</label>
                                            <input type="password" id="password" name="password" required />
                                            <input type="hidden" name="hash" value={$csrfToken} />
                                        </form>
                                        `, [tr("disable"), tr("cancel")], [
                                        () => {
                                            document.querySelector("#two-factor-auth-disable-form").submit();
                                        }, Function.noop
                                    ]);
                                }
                            </script>
                            {else}
                            <div class="form_field">
                                <div class="accent-box">
                                    {_two_factor_authentication_disabled}
                                </div>
                            </div>
                            <div class="settings_save_footer">
                                <a class="button" href="/settings/2fa">{_connect}</a>
                            </div>
                            {/if}
                        </div>
                    </div>
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "ui_settings_sessions"}
                        <div class="form_group clear_fix settings_padding">
                            <div class="form_field">
                                <div class="accent-box">
                                    {tr("end_all_sessions_description", \OPENVK_ROOT_CONF['openvk']['appearance']['name'])}
                                </div>
                            </div>
                            <div class="settings_save_footer">
                                <form action="/revokeAllTokens" method="POST">
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                                <input type="submit" value="{_end_all_sessions}" class="button" />
                                </form>
                            </div>
                        </div>
                    </div>
                {elseif $isPrivacy}
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "privacy"}
                        <div class="form_group clear_fix settings_padding">
                            <form action="/settings?act=privacy" method="POST" enctype="multipart/form-data" data-autosave="true">
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_access_page}</div>
                                    <div class="form_data">
                                        <select name="page.read">
                                            <option value="3" {if $user->getPrivacySetting('page.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('page.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_read_info}</div>
                                    <div class="form_data">
                                        <select name="page.info.read">
                                            <option value="3" {if $user->getPrivacySetting('page.info.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('page.info.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('page.info.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('page.info.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_groups}</div>
                                    <div class="form_data">
                                        <select name="groups.read">
                                            <option value="3" {if $user->getPrivacySetting('groups.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('groups.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('groups.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('groups.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_photos}</div>
                                    <div class="form_data">
                                        <select name="photos.read">
                                            <option value="3" {if $user->getPrivacySetting('photos.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('photos.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('photos.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('photos.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_videos}</div>
                                    <div class="form_data">
                                        <select name="videos.read">
                                            <option value="3" {if $user->getPrivacySetting('videos.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('videos.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('videos.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('videos.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_view_audio}</div>
                                    <div class="form_data">
                                        <select name="audios.read">
                                            <option value="3" {if $user->getPrivacySetting('audios.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('audios.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('audios.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('audios.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_notes}</div>
                                    <div class="form_data">
                                        <select name="notes.read">
                                            <option value="3" {if $user->getPrivacySetting('notes.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('notes.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('notes.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('notes.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_friends}</div>
                                    <div class="form_data">
                                        <select name="friends.read">
                                            <option value="3" {if $user->getPrivacySetting('friends.read') == 3}selected{/if}>{_privacy_value_anybody_dative}</option>
                                            <option value="2" {if $user->getPrivacySetting('friends.read') == 2}selected{/if}>{_privacy_value_users}</option>
                                            <option value="1" {if $user->getPrivacySetting('friends.read') == 1}selected{/if}>{_privacy_value_friends_dative}</option>
                                            <option value="0" {if $user->getPrivacySetting('friends.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_add_to_friends}</div>
                                    <div class="form_data">
                                        <select name="friends.add">
                                            <option value="3" {if $user->getPrivacySetting('friends.add') == 2}selected{/if}>{_privacy_value_anybody}</option>
                                            <option value="0" {if $user->getPrivacySetting('friends.add') == 0}selected{/if}>{_privacy_value_nobody}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_write_wall}</div>
                                    <div class="form_data">
                                        <select name="wall.write">
                                            <option value="2" {if $user->getPrivacySetting('wall.write') == 2}selected{/if}>{_privacy_value_anybody}</option>
                                            <option value="1" {if $user->getPrivacySetting('wall.write') == 1}selected{/if}>{_privacy_value_friends}</option>
                                            <option value="0" {if $user->getPrivacySetting('wall.write') == 0}selected{/if}>{_privacy_value_only_me}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_write_messages}</div>
                                    <div class="form_data">
                                        <select name="messages.write">
                                            <option value="2" {if $user->getPrivacySetting('messages.write') == 2}selected{/if}>{_privacy_value_anybody}</option>
                                            <option value="1" {if $user->getPrivacySetting('messages.write') == 1}selected{/if}>{_privacy_value_friends}</option>
                                            <option value="0" {if $user->getPrivacySetting('messages.write') == 0}selected{/if}>{_privacy_value_nobody}</option>
                                        </select>
                                    </div>
                                </div>
                                <div n:if="\OPENVK_ROOT_CONF['openvk']['preferences']['wall']['anonymousPosting']['enable']" class="form_field settings_privacy_row">
                                    <div class="form_label">{_privacy_setting_see_likes}</div>
                                    <div class="form_data">
                                        <select name="likes.read">
                                            <option value="2" {if $user->getPrivacySetting('likes.read') == 2}selected{/if}>{_privacy_value_anybody}</option>
                                            <option value="0" {if $user->getPrivacySetting('likes.read') == 0}selected{/if}>{_privacy_value_only_me_dative}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field settings_privacy_row">
                                    <div class="form_label">{_profile_type}</div>
                                    <div class="form_data">
                                        <select name="profile_type">
                                            <option value="0" {if $user->getProfileType() == 0}selected{/if}>{_profile_type_open}</option>
                                            <option value="1" {if $user->getProfileType() == 1}selected{/if}>{_profile_type_closed}</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                            </form>
                        </div>
                    </div>
                {elseif $isFinance}
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "points"}
                        <div class="settings_block_msg settings_padding">
                                {presenter "openvk!Support->knowledgeBaseArticle", "points"}
                        </div>
                        <div class="form_group clear_fix settings_padding">
                            <div class="form_field">
                                <div class="form_label">{_on_your_account|firstUpper}:</div>
                                <div class="form_data">
                                    <b>{$thisUser->getCoins()} {_points_count}</b>
                                </div>
                            </div>
                            <div class="form_field">
                                <div class="form_label"></div>
                                <div class="form_data">
                                    <div class="buttons_row">
                                        <input n:if="\OPENVK_ROOT_CONF['openvk']['preferences']['ton']['enabled']" onclick="showCoinsTopUpTroughTon()" class="button" type="submit" value="{_transfer_trough_ton}" />
                                        <a href="?act=finance.top-up">
                                            <input class="button" type="submit" value="{_have_voucher}?" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            function convertCurrency(coin) {
                                var currencyTON = {php echo \OPENVK_ROOT_CONF['openvk']['preferences']['ton']['rate']};
                                u(".coins_dialog_conv").nodes[0].innerHTML = coin * currencyTON + " TON"; 
                            }

                            function showCoinsTopUpTroughTon() {
                                MessageBox(tr("transfer_trough_ton"), `
                                    <div class="messagebox-content-header">
                                        ${ tr("transfer_ton_contents") }
                                    </div>
                                    <div style="margin-top: 30px">` +
                                    {tr("transfer_ton_address", \OPENVK_ROOT_CONF['openvk']['preferences']['ton']['address'], str_replace("$1", ''.$thisUser->getId(), \OPENVK_ROOT_CONF["openvk"]["preferences"]["ton"]["hint"]))} + 
                                    `<div style="text-align: center;">
                                        <img width="225" height="225" src="data:` + {$qrCodeType} + `;base64,` + {$qrCodeData} + `"><br>
                                        <input oninput="convertCurrency(this.value)"> = <span class="coins_dialog_conv">0 TON</span>
                                    </div>
                                    </div>`
                                , [tr("close")], [
                                    Function.noop
                                ]);
                            }
                        </script>
                        <div class="page_block_footer">
                            {php $transferPointsHtml = str_replace('\\"', '"', tr("also_you_can_transfer_points", $thisUser->getCoins(), rawurlencode($csrfToken)))}
                            {$transferPointsHtml|noescape}
                        </div>
                    </div>
                {elseif $isFinanceTU}
                    <div class="page_block">
                        {include "../components/page_crumb_header.latte",
                            crumbs: [
                                ['title' => tr("points"), 'href' => '/settings?act=finance'],
                                ['title' => tr("vouchers")]
                            ]
                        }
                        <div class="settings_block_msg">
                            {_voucher_explanation} {_voucher_explanation_ex}
                        </div>
                        <div class="form_group clear_fix settings_padding">
                        <form class="voucher_form" name="vouncher_form" action="/settings?act=finance.top-up" method="POST" enctype="multipart/form-data">
                            <div class="settings_voucher_input">
                                <input type="text" name="key0" class="vouncher_input" size="6" maxlength="6" placeholder="123456" required="required" oninput="autoTab(this, document.vouncher_form.key1, undefined)" style="display: inline-block; width: 50px; text-align: center;" /> -
                                <input type="text" name="key1" class="vouncher_input" size="6" maxlength="6" placeholder="789012" required="required" oninput="autoTab(this, document.vouncher_form.key2, document.vouncher_form.key0)" style="display: inline-block; width: 50px; text-align: center;" /> -
                                <input type="text" name="key2" class="vouncher_input" size="6" maxlength="6" placeholder="345678" required="required" oninput="autoTab(this, document.vouncher_form.key3, document.vouncher_form.key1)" style="display: inline-block; width: 50px; text-align: center;" /> -
                                <input type="text" name="key3" class="vouncher_input" size="6" maxlength="6" placeholder="90ABCD" required="required" oninput="autoTab(this, undefined, document.vouncher_form.key2)" style="display: inline-block; width: 50px; text-align: center;" />
                            </div>
                            <div class="settings_voucher_footer">
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                                <input type="submit" value="{_redeem}" class="button" />
                            </div>
                            </form>
                        </div>
                    </div>
                {elseif $isInterface}
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "interface"}
                        <div class="form_group clear_fix settings_padding">
                            <form action="/settings?act=interface" method="POST" enctype="multipart/form-data" data-autosave="true">
                                <input type="hidden" name="style_avatar" value="{$user->getStyleAvatar()}" />
                                <input type="hidden" name="microblog" value="{if $user->hasMicroblogEnabled()}1{else}0{/if}" />
                                <div class="form_field">
                                    <div class="form_label">{_style}</div>
                                    <div class="form_data">
                                        <select name="style">
                                            <option value="ovk" {if $user->getStyle() == 'ovk'}selected{/if}>OpenVK ({_default})</option>
                                            <option n:foreach="$themes as $id => $themeName"
                                                    n:attr="selected => $user->getStyle() === $id"
                                                    value="{$id}">
                                                        {$themeName}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label"></div>
                                    <div class="form_data" dir="auto">
                                        <label class="checkbox"><input type="checkbox" name="theme_for_session" value="1"><span>{_apply_style_for_this_device}</span></label>
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_ui_settings_nsfw_content}</div>
                                    <div class="form_data">
                                        <select name="nsfw">
                                            <option value="0" {if $user->getNsfwTolerance() === 0}selected{/if}>{_ui_settings_nsfw_content_dont_show}</option>
                                            <option value="1" {if $user->getNsfwTolerance() === 1}selected{/if}>{_ui_settings_nsfw_content_blur}</option>
                                            <option value="2" {if $user->getNsfwTolerance() === 2}selected{/if}>{_ui_settings_nsfw_content_show}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_ui_settings_main_page}</div>
                                    <div class="form_data">
                                        <select name="main_page">
                                            <option value="0" {if !$user->getMainPage()}selected{/if}>{_my_page}</option>
                                            <option value="1" {if $user->getMainPage()}selected{/if}>{_my_feed}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_ui_settings_window}</div>
                                    <div class="form_data">
                                        <label class="checkbox">
                                            <input type='checkbox' data-act='localstorage_item' data-inverse="1" name='ux.disable_ajax_routing' id="ux.disable_ajax_routing">
                                            <span>{_ajax_routing}</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type='checkbox' data-act='localstorage_item' name='ux.auto_scroll' id="ux.auto_scroll">
                                            <span>{_auto_scroll}</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type='checkbox' data-act='localstorage_item' name='ux.gif_autoplay' id="ux.gif_autoplay">
                                            <span>{=vkifyTr('gif_autoplay')|noescape}</span>
                                        </label>
                                        <label class="checkbox">
                                            <input class="hidden" type="hidden" name="rating" value="0">
                                            <input type="checkbox" name="rating" value="1" n:attr="checked => !$user->prefersNotToSeeRating()">
                                            <span>{=vkifyTr('profile_recommendations')|noescape}</span>
                                        </label>
                                        <script n:syntax="off">
                                            (function() {
                                                const CURRENT_DISABLE_AJAX = Number(localStorage.getItem('ux.disable_ajax_routing') ?? 0);
                                                const CURRENT_AUTO_SCROLL = Number(localStorage.getItem('ux.auto_scroll') ?? 1);
                                                const CURRENT_GIF_AUTOPLAY = Number(localStorage.getItem('ux.gif_autoplay') ?? 1);
                                                
                                                const ajaxCb = document.getElementById('ux.disable_ajax_routing');
                                                if (ajaxCb) ajaxCb.checked = CURRENT_DISABLE_AJAX === 0;

                                                const scrollCb = document.getElementById('ux.auto_scroll');
                                                if (scrollCb) scrollCb.checked = CURRENT_AUTO_SCROLL === 1;

                                                const gifCb = document.getElementById('ux.gif_autoplay');
                                                if (gifCb) gifCb.checked = CURRENT_GIF_AUTOPLAY === 1;
                                            })();
                                        </script>
                                    </div>
                                </div>
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                                <div class="form_separator"></div>
                                <div id="vkifySettings" class="form_field">
                                    <div class="form_label">{=vkifyTr('vkify_settings')|noescape}</div>
                                    <div class="form_data" dir="auto">
                                        <label class="checkbox"><input type="checkbox" name="theme_mode" value="1"><span>{=vkifyTr('dark_mode')|noescape}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="vkgraffiti" value="0"><span>{=vkifyTr('graffitiswitch')|noescape}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="vkbranding" value="1"><span>{=vkifyTr('vk_branding')|noescape}</span></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "ui_settings_timezone"}
                        <div class="form_group clear_fix settings_padding">
                            <div class="form_field">
                                <div class="form_label">{_ui_settings_timezone}</div>
                                <div class="form_data">
                                    <select id="timezone">
                                        {foreach TIMEZONES_ARRAY as $tz}
                                            <option {if intval($isTimezoned) == $tz}selected{/if} value="{$tz}">{tr('timezone-'.$tz)}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="form_field">
                                <div class="form_label"></div>
                                <div class="form_data">
                                    <a onClick="saveTimezoneSettings()" class="button">{_save}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "ui_settings_sidebar"}
                        <div class="settings_block_msg">{=vkifyTr('sidebar_note')|noescape}</div>
                        <div class="form_group clear_fix settings_padding">
                            <form action="/settings?act=lMenu" method="POST" enctype="multipart/form-data" data-autosave="true">
                                <div class="form_field">
                                    <div class="form_label"></div>
                                    <div class="form_data" dir="auto">
                                        <label class="checkbox"><input type="checkbox" name="menu_bildoj" n:attr="checked => $user->getLeftMenuItemStatus('photos')"><span>{_my_photos}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_filmetoj" n:attr="checked => $user->getLeftMenuItemStatus('videos')"><span>{_my_videos}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_muziko" n:attr="checked => $user->getLeftMenuItemStatus('audios')"><span>{_my_audios}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_mesagoj" n:attr="checked => $user->getLeftMenuItemStatus('messages')"><span>{_my_messages}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_notatoj" n:attr="checked => $user->getLeftMenuItemStatus('notes')"><span>{_my_notes}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_grupoj" n:attr="checked => $user->getLeftMenuItemStatus('groups')"><span>{_my_groups}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_novajoj" n:attr="checked => $user->getLeftMenuItemStatus('news')"><span>{_my_feed}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_aplikoj" n:attr="checked => $user->getLeftMenuItemStatus('apps')"><span>{_my_apps}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_doxc" n:attr="checked => $user->getLeftMenuItemStatus('docs')"><span>{_my_documents}</span></label>
                                        <label class="checkbox"><input type="checkbox" name="menu_feva" n:attr="checked => $user->getLeftMenuItemStatus('fave')"><span>{_bookmarks_tab}</span></label>
                                        <label n:if="sizeof(\OPENVK_ROOT_CONF['openvk']['preferences']['menu']['links']) > 0" class="checkbox"><input type="checkbox" name="menu_ligiloj" n:attr="checked => $user->getLeftMenuItemStatus('links')"><span>{_additional_links}</span></label>
                                        <label n:if="\OPENVK_ROOT_CONF['openvk']['preferences']['adPoster']['enable']" class="checkbox"><input type="checkbox" name="menu_standardo" n:attr="checked => $user->getLeftMenuItemStatus('poster')"><span>{_ad_poster}</span></label>
                                    </div>
                                </div>
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                            </form>
                        </div>
                    </div>
                    {elseif $isBl}
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "blacklist", count => $blSize}
                        {if $blSize < 1}
                            {include "../components/content_error.latte", icon => false, description => tr("bl_count_zero_desc")}
                        {else}
                            <div class="list_view">
                                <div n:foreach="$blItems as $item" class="search_row">
                                    <a href="{$item->getURL()}" class="img">
                                        <img src='{$item->getAvatarURL()}'>
                                    </a>
                                    <div class="info">
                                        <div class="labeled name">
                                            <a href="{$item->getURL()}">
                                                {$item->getCanonicalName()} 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {include "../components/paginator.latte", conf => $paginatorConf}
                            </div>
                        {/if}
                    </div>
                {/if}
            </div>
        </div>
    </div>
{/block}

