{extends "../@layout.latte"}

{block title}{_edit_group}{/block}

{block bodyScripts}
    <script src="/themepack/vk2020/{$theme->getVersion()}/resource/js/features/autosave.js"></script>
{/block}

{block content}
    <div class="wide_column_left">
        <div class="wide_column_left">
            <div class="narrow_column_wrap">
                <div class="narrow_column">
                    {var $menuItems = [
                        [
                            'url' => "javascript:void(0)",
                            'title' => 'main',
                            'active' => true
                        ],
                        [
                            'url' => "/club{$club->getId()}/backdrop",
                            'title' => 'backdrop_short',
                            'active' => false
                        ],
                        [
                            'url' => "/club{$club->getId()}/followers",
                            'title' => 'followers',
                            'active' => false
                        ],
                        [
                            'url' => "/club{$club->getId()}/stats",
                            'title' => 'statistics',
                            'active' => false
                        ]
                    ]}
                    {include "../components/ui_rmenu.latte", items => $menuItems, ownblockData => $club}
                </div>
            </div>
            <div class="wide_column_wrap">
                <div class="wide_column">
                    <div class="page_block">
                        {include "../components/page_block_header.latte", title => "main_information"}
                        <div class="form_group settings_padding clear_fix label_end">
                            <form method="POST" enctype="multipart/form-data" data-autosave="true">
                                <div class="form_field">
                                    <div class="form_label">{_name}</div>
                                    <div class="form_data">
                                        <input type="text" name="name" value="{$club->getName()}" />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_description}</div>
                                    <div class="form_data">
                                        <textarea type="text" name="about" style="resize:vertical;">{$club->getDescription()}</textarea>
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_page_address}</div>
                                    <div class="form_data">
                                        <input type="text" name="shortcode" value="{$club->getShortcode()}" />
                                    </div>
                                </div>
                                <div class="form_field">
                                    <div class="form_label">{_website}</div>
                                    <div class="form_data">
                                        <input type="text" name="website" value="{$club->getWebsite()}" />
                                    </div>
                                </div>
                                <div class="form_separator" n:if="$club->isEvent()"></div>
                                <div class="form_field" n:if="$club->isEvent()">
                                    <div class="form_label">{_event_start_date}</div>
                                    <div class="form_data">
                                        <input type="date" name="start_date" value="{$club->getStartDate()->format('%Y-%m-%d')}" style="width: fit-content" />
                                        <input type="time" name="start_time" value="{$club->getStartDate()->format('%H:%M')}" style="width: fit-content" />
                                    </div>
                                </div>
                                <div class="form_field" n:if="$club->isEvent()">
                                    <div class="form_label">{_event_finish_date}</div>
                                    <div class="form_data">
                                        <label class="checkbox">
                                            <input type="checkbox" name="end_date_checked" value="1" n:attr="checked => !is_null($club->getFinishDate())" onclick="u('#finish_date_block').nodes[0].style.display = this.checked == true ? 'block' : 'none';" />
                                            <span>{_event_enable_finish_date}</span>
                                        </label>
                                        <div id="finish_date_block" n:attr="style => is_null($club->getFinishDate()) ? 'display: none;' : ''">
                                            <input type="date" name="finish_date" value="{$club->getFinishDate()?->format('%Y-%m-%d')}" style="width: fit-content" />
                                            <input type="time" name="finish_time" value="{$club->getFinishDate()?->format('%H:%M')}" style="width: fit-content" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_separator" n:if="$club->isEvent()"></div>
                                <div class="form_field">
                                    <div class="form_label">{_avatar}</div>
                                    <div class="form_data">
                                        <button type="button" class="button _edit_avatar_btn" data-club="{$club->getId()}">{_upload_new_picture}</button>
                                    </div>
                                </div>
                                <input type="hidden" name="ava" value="" />
                                <div class="form_separator"></div>
                                <div class="form_field">
                                    <div class="form_label">{_wall}</div>
                                    <div class="form_data">
                                        <select name="wall">
                                            <option value="1" n:attr="selected => $club->getWallType() == 1">{_group_allow_post_for_everyone}</option>
                                            <option value="2" n:attr="selected => $club->getWallType() == 2">{_group_limited_post}</option>
                                            <option value="0" n:attr="selected => $club->getWallType() == 0">{_group_closed_post}</option>
                                        </select>
                                        <label class="checkbox">
                                            <input type="checkbox" name="hide_from_global_feed" value="1" n:attr="checked => $club->isHideFromGlobalFeedEnabled(), disabled => $club->isHidingFromGlobalFeedEnforced()" />
                                            <span>{_group_hide_from_global_feed}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form_separator"></div>
                                <div class="form_field">
                                    <div class="form_label">{_discussions}</div>
                                    <div class="form_data">
                                        <label class="checkbox">
                                            <input type="checkbox" name="everyone_can_create_topics" value="1" n:attr="checked => $club->isEveryoneCanCreateTopics()" />
                                            <span>{_everyone_can_create_topics}</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="display_topics_above_wall" value="1" n:attr="checked => $club->isDisplayTopicsAboveWallEnabled()" />
                                            <span>{_display_list_of_topics_above_wall}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form_separator"></div>
                                <div class="form_field">
                                    <div class="form_label">{_group_administrators_list}</div>
                                    <div class="form_data">
                                        {var $areAllAdminsHidden = $club->getManagersCount(true) == 0}
                                        <label class="radio">
                                            <input type="radio" name="administrators_list_display" value="0" n:attr="checked => $club->getAdministratorsListDisplay() == 0, disabled => $areAllAdminsHidden" />
                                            <span>{_group_display_only_creator}</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="administrators_list_display" value="1" n:attr="checked => $club->getAdministratorsListDisplay() == 1, disabled => $areAllAdminsHidden" />
                                            <span>{_group_display_all_administrators}</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="administrators_list_display" value="2" n:attr="checked => $club->getAdministratorsListDisplay() == 2" />
                                            <span>{_group_dont_display_administrators_list}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form_separator"></div>
                                <div class="form_field">
                                    <div class="form_label">{_audios}</div>
                                    <div class="form_data">
                                        <label class="checkbox">
                                            <input type="checkbox" name="upload_audios" value="1" n:attr="checked => $club->isEveryoneCanUploadAudios()" />
                                            <span>{_everyone_can_upload_audios}</span>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="hash" value="{$csrfToken}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
